<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Formulario Alumno</title>
</head>
</head>

<body>
    <div class="grid-container w-100 d-flex justify-content-center mb-5">

        <!-- ---------------------------------NavBar------------------------------------------- -->

        <nav class="navbar navbar-dark fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="w-25 offcanvas side-navbar offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header d-flex justify-content-center">
                        <img class="logo-img" src="LogoPath.jpg" alt="">
                        <button type="button" class="btn-close position-absolute top-0 end-0 m-3 btn-close-black"
                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="canvas-body mt-2">
                        <ul class="navbar-nav d-flex justify-content-end flex-grow-1 ms-4">
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" aria-current="page" th:href="@{/reports}">
                                    <i class="bx bxs-report"></i>
                                    <span class="link-name">Reports</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" th:href="@{/institutions}">
                                    <i class="bx bxs-school"></i>
                                    <span class="link-name">Institutions</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" th:href="@{/students}">
                                    <i class="bx bxs-graduation"></i>
                                    <span class="link-name">Student</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark fs-5 dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-book"></i>
                                    <span class="link-name">Exams</span>
                                </a>
                                <ul class="dropdown-menu border-0 ms-3">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/exams}">
                                            <i class='bx bxs-pencil pe-2'></i>
                                            Exam Management
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/dayOfExams}">
                                            <i class='bx bx-calendar-star pe-2'></i>Day of Exams
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" th:href="@{/certificates}">
                                    <i class='fas fa-award'></i>
                                    <span class="link-name">Certificates</span>
                                </a>
                            </li>
                            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                                <a class="nav-link text-dark fs-5" th:href="@{/singIn/user}">
                                    <i class='bx bxs-user-detail'></i>
                                    <span class="link-name">Users Management</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="navbar" class="nav-item d-flex align-items-end h-100">
                        <form th:action="@{/logout}" method="post">
                            <a class="nav-link text-dark mb-3 ms-2 fs-5" href="#" onclick="this.parentNode.submit();">
                                <i class='bx bx-exit'></i>
                                <span class="link-name">Logout</span>
                            </a>
                        </form>
                    </div>
                </div>
        </nav>

        <!-- ---------------------------------Center Container------------------------------------------ -->

        <div class="center-form d-grid w-50 justify-content-center">
            <h1 class="col-1  d-flex justify-content-center w-100">Employee Data</h1>
            <div>

                <!-- ---------------------------------Formulario Alumno------------------------------------------- -->

                <form action="#" class="row g-3 needs-validation" th:action="@{/users/edit}" th:object="${empleado}"
                    method="post" novalidate>
                    <!-- ---------------------------------Input Group------------------------------------------- -->

                    <div class="col-6">
                        <label for="nombre" class="form-label">Employee Name:</label>
                        <input type="text" name="nombre" pattern="[A-Z][a-z]{3,30}" th:field="*{nombre}"
                            class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-6">
                        <label for="apellido" class="form-label">Employee Surname:</label>
                        <input type="text" name="apellido" pattern="[A-Z,a-z]{3,30}" th:field="*{apellido}" class="form-control"
                            maxlength="20" required>
                    </div>
                    <div class="col-4">
                        <label for="fecha_nacimiento" class="form-label">Day of Birth:</label>
                        <input type="date" name="fecha_nacimiento" max="2015-01-01" th:field="*{fecha_nacimineto}"
                            class="form-control" required>
                    </div>
                    <div class="col-4">
                        <label for="documento" class="form-label">DNI:</label>
                        <input type="text" name="dni" pattern="[0-9]{7,11}" th:field="*{documento}"
                            class="form-control" maxlength="11" required>
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Emplo Role:</label>
                        <select name="roles" class="form-select" th:name="rol">
                            <option th:value="ROLE_ADMINISTRADOR" th:text="Administrator"></option>
                            <option th:value="ROLE_RECLUTADOR" th:text="Recruiter"></option>
                            <option th:value="ROLE_VENTAS" th:text="Sales"></option>
                            <option th:value="ROLE_ORGANIZADOR" th:text="Organizer"></option>
                            <option th:value="ROLE_ENCARGADO" th:text="Attendant"></option>
                            <option th:value="ROLE_INSTITUCION" th:text="Institution"></option>
                            <option th:value="ROLE_ALUMNO" th:text="Student"></option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="email">Employee email:</label>
                    <div class="input-group col-3">
                        <input type="text" class="form-control" th:field="*{email}" aria-label="Recipient's username" aria-describedby="basic-addon2" pattern="[A-Z,a-z,0-9]{5,25}" required>
                        <span class="input-group-text" id="basic-addon2">@pathexamination.com</span>
                      </div>
                    </div>
                    <div class="alert d-grid justify-content-center mt-3 col-12 alert-warning">
                        <h3 class="text-center">Warning !!</h3>
                        <span>The user will be generated automatically with the password: <strong>Path@2022</strong></span>
                    </div>
                        <div class="d-flex justify-content-center gap-2">
                            <a class="w-25" th:href="@{/users}">
                                <button type="button" name="cancelar" value="Cancelar"
                                    class="btn btn-secondary w-100">Cancel</button>
                            </a>
                            <button type="submit" class="btn btn-primary w-25">Save</button>
                        </div>
                </form>
                <form action="">
                      <div class="col-4">
                        <label for="exampleFormControlInput1" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" nombre="username"
                            th:field="*{username}">
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Password:</label>
                        <input class="form-control" id="exampleFormControlTextarea1" type="text" nombre="password"
                            th:field="*{password}" rows="3" pattern="[A-Z][a-z][0-9]{3}[a-z]{2,3}" title="It must contain the first uppercase letter, the second lowercase, followed by 3 numbers and 2 to 3 lowercase letters" required></input>
                            <div class="alert mt-3 alert-warning">
                                <small>It must contain the first uppercase letter, the second lowercase, followed by 3 numbers and 2 to 3 lowercase letters</small>
                            </div>
                    </div>
                    <div class="col-4 mb-5">
                        <label for="exampleFormControlTextarea1" class="form-label">User Role:</label>
                        <select name="roles" class="form-select" th:name="rol">
                            <option th:value="ROLE_ADMINISTRADOR" th:text="Administrator"></option>
                            <option th:value="ROLE_RECLUTADOR" th:text="Recruiter"></option>
                            <option th:value="ROLE_VENTAS" th:text="Sales"></option>
                            <option th:value="ROLE_ORGANIZADOR" th:text="Organizer"></option>
                            <option th:value="ROLE_ENCARGADO" th:text="Attendant"></option>
                            <option th:value="ROLE_INSTITUCION" th:text="Institution"></option>
                            <option th:value="ROLE_ALUMNO" th:text="Student"></option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ---------------------------------Script Boostrap------------------------------------------- -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <!-- ---------------------------------Script Validacion de Datos------------------------------------------- -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>

</body>

</html>