<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <title>Lista Informe</title>

</head>

<body>
    <div class="grid-container w-100 d-flex justify-content-center">

        <!-- ---------------------------------NavBar------------------------------------------- -->

        <nav class="navbar navbar-dark fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="w-25 offcanvas side-navbar offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header d-flex justify-content-center">
                        <img class="logo-img" src="LogoPath.jpg" alt="">
                        <button type="button" class="btn-close position-absolute top-0 end-0 m-3 btn-close-black"
                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="canvas-body mt-2">
                        <ul class="navbar-nav justify-content-end flex-grow-1 ms-4">
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" aria-current="page" th:href="@{/informes}">
                                    <i class="bx bxs-report"></i>
                                    <span class="link-name">Informes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" th:href="@{/instituciones}">
                                    <i class="bx bxs-school"></i>
                                    <span class="link-name">Institutions</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" th:href="@{/alumnos}">
                                    <i class="bx bxs-graduation"></i>
                                    <span class="link-name">Student</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link text-dark fs-5" href="#">
                                    <i class="bx bx-book"></i>
                                    <span class="link-name">Exam</span>
                                </a>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark fs-5 dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-book"></i>
                                    <span class="link-name">Exam</span>
                                </a>
                                <ul class="dropdown-menu border-0 ms-3">
                                    <li><a class="dropdown-item" th:href="@{/examenes}"><i
                                                class='bx bxs-pencil pe-2'></i>Gestion de
                                            Examen</a></li>
                                    <li><a class="dropdown-item" th:href="@{/examenesDay}"> <i
                                                class='bx bx-calendar-star pe-2'></i>Dia
                                            de Examen</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" href="#">
                                    <i class='fas fa-award'></i>
                                    <span class="link-name">Certification</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- ---------------------------------Center Container------------------------------------------- -->
        <div class="center d-flex justify-content-center">
            <div class="table-content p-3 rounded-2">
                <a class="btn-new-report mb-4 shadow w-25 rounded" role="button" th:href="@{/informes/agregar}">Crear
                    Informe</a>

                <!-- ---------------------------------Tabla Informes------------------------------------------- -->

                <table id="informeTable" class="display mb-2" style="width:100%">
                    <thead>
                        <tr>
                            <th hidden>#</th>
                            <th>Nombre</th>
                            <th>Contacto</th>
                            <th>Tipo</th>
                            <th>Pais</th>
                            <th>Provincia</th>
                            <th>Ciudad</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Estado</th>
                            <th>Siguiente <br> Estado</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each=" institucion,iter: ${listInstitucion}"
                            th:if="${institucion.visibilidad != true && institucion.contrato != true }">
                            <td th:text="${iter.index}" hidden></td>
                            <td th:text="${institucion.nombre}"></td>
                            <td th:text="${institucion.contacto}"></td>
                            <td th:text="${institucion.tipo}"></td>
                            <td th:text="${institucion.pais}"></td>
                            <td th:text="${institucion.provincia}"></td>
                            <td th:text="${institucion.ciudad}"></td>
                            <td th:text="${institucion.email}"></td>
                            <td th:text="${institucion.telefono}"></td>
                            <td th:text="${institucion.estado.nombre}">
                            </td>
                            <td class="action d-flex justify-content-center">

                                <!-- ---------------------------------Modal Button Siguiente Estado------------------------------------------- -->
                                <div class="">
                                    <a type="button" class="" data-bs-toggle="modal"
                                        th:attr="data-bs-target='#exampleModal'+${institucion.id_institucion}">
                                        <i class='bx bxs-chevrons-right'></i>
                                    </a>
                                </div>
                                <!-- ---------------------------------Validacion Estado "Localizado"------------------------------------------- -->
                                <div class="modal fade" th:id="${'exampleModal'+{institucion.id_institucion}}"
                                    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                    th:if="${institucion.estado.nombre == 'Localizado'}">
                                    <div class="modal-dialog">
                                        <form action="#" class="needs-validation" novalidate
                                            th:action="@{/informes/tiempoContacto}" method="post"
                                            th:object="${institucion}">
                                            <input type="hidden" name="id_institucion" th:value="*{id_institucion}">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"
                                                        th:text="${institucion.nombre}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="inputs">
                                                        <p th:text="${institucion.nombre}"></p>
                                                        <label for="horaContacto" class="form-label">Fecha y hora de
                                                            contacto:</label>
                                                        <input type="datetime-local" class="form-control"
                                                            name="tiempo_contacto" min="2022-10-19T00:00" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- ---------------------------------Validacion Estado "Contactado"------------------------------------------- -->
                                <div class="modal fade" th:id="${'exampleModal'+{institucion.id_institucion}}"
                                    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                    th:if="${institucion.estado.nombre == 'Contactado'}">
                                    <div class="modal-dialog">
                                        <form action="#" class="needs-validation" novalidate
                                            th:action="@{/informes/contactado}" method="post"
                                            th:object="${institucion}">
                                            <input type="hidden" name="id_institucion" th:value="*{id_institucion}">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"
                                                        th:text="${institucion.nombre}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="inputs">
                                                        <p th:text="${institucion.nombre}"></p>
                                                        <input class="form-check-input col-12" type="checkbox"
                                                            role="checkbox" name="Contactado" required>
                                                        <label for="Contactado" class="form-label">Se contacto la
                                                            institucion ?</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Siguiente Estado</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- ---------------------------------Validacion Estado Reuniones------------------------------------------- -->
                                <div class="modal fade" th:id="${'exampleModal'+{institucion.id_institucion}}"
                                    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                    th:if="${institucion.estado.nombre == 'Reunión a programar' || institucion.estado.nombre == 'Reunión de consulta'}">
                                    <div class="modal-dialog">
                                        <form action="#" class="needs-validation" novalidate
                                            th:action="@{/informes/reunion}" method="post" th:object="${institucion}">
                                            <input type="hidden" name="id_institucion" th:value="*{id_institucion}">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"
                                                        th:text="${institucion.nombre}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="inputs">
                                                        <label for="horaContacto" class="form-label">Hora de
                                                            Reunion:</label>
                                                        <input type="datetime-local" class="form-control"
                                                            name="reuniones" required min="2022-10-20T00:00" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Siguiente Estado</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- ---------------------------------Validacion Estado "A Inscribirse"------------------------------------------- -->
                                <div class="modal fade" th:id="${'exampleModal'+{institucion.id_institucion}}"
                                    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                    th:if="${institucion.estado.nombre == 'A inscribirse'}">
                                    <div class="modal-dialog">
                                        <form action="#" class="needs-validation" novalidate
                                            th:action="@{/informes/tiempoContacto}" method="post"
                                            th:object="${institucion}">
                                            <input type="hidden" name="id_institucion" th:value="*{id_institucion}">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="${institucion.nombre}"
                                                        id="exampleModalLabel"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="inputs">
                                                        <label for="altaInstitucion" class="form-label"> Link de
                                                            inscripcion de:</label>
                                                        <a href="#"
                                                            th:href="@{/institucion/editar/} +${institucion.id_institucion}"><input
                                                                type="text" class="form-control" name="altaInstitucion"
                                                                th:value="${institucion.nombre}" disabled></a>
                                                    </div>
                                                </div>
                                                <!-- <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary"
                                                        data-bs-dismiss="modal"
                                                        th:href="@{/informes/siguienteEstado/}+${institucion.id_institucion}">Finish</button>
                                                </div> -->
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- ---------------------------------Fin Modal Button Siguiente Estado------------------------------------------- -->
                                </td>
                            <td class="action">
                                <a th:href="@{/informes/editar/}+${institucion.id_institucion}"><i
                                        class="bx bx-edit"></i></a>
                                <a data-bs-toggle="modal"
                                    th:attr="data-bs-target='#eliminarInforme'+${institucion.id_institucion}"><i
                                        class="bx bx-trash"></i></a>
                                <!-- Button trigger modal -->

                                <!-- Modal -->
                                <div class="modal fade" th:id="${'eliminarInforme'+{institucion.id_institucion}}"
                                    tabindex="-1" aria-labelledby="eliminarInforme" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="eliminarInforme">Desea eliminar al
                                                    informe de: <Strong><span
                                                            th:text="${institucion.nombre}"></span></Strong></h1>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-danger d-flex align-items-center" role="alert">
                                                    Al eliminar el informe, no se volvera a mostrar en el listado
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <a th:href="@{/informes/eliminar/}+${institucion.id_institucion}">
                                                    <button type="button" class="btn btn-primary">Confirmar</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                </table>

                <!-- ---------------------------------Fin Tabla Informe------------------------------------------- -->

            </div>
        </div>

        <!-- ---------------------------------Fin Center Container------------------------------------------- -->

    </div>


    <!-- ---------------------------------Script Boostrap------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <!-- ---------------------------------Script Tabla------------------------------------------- -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#informeTable').DataTable();
        });</script>

    <!-- ---------------------------------Script Validacion de Campos------------------------------------------- -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>


</body>

</html>